<aside class="graph">
	{{#each set in metrics}}
		<div class="graph-section">
			{{#each metric in set}}
				<div class="graph-bar-wrap">
					<div class="graph-bar" {{bind-attr style="metric.metricStyle"}}>
						<span class="text">{{metric.metricText}}</span>
						<span class="number">{{metric.metricNumber}}</span>
					</div><!-- graph-bar -->
				</div><!-- graph-bar-wrap -->
			{{/each}}
		</div>
	{{/each}}
</aside>