@import 'compass/reset';

@import 'components/page-options-nav';
@import 'components/form-elements';
@import 'components/page-header';

@import 'helpers/fonts';
@import 'helpers/classes';

html {
	padding: .25in;
  box-sizing: border-box;
  @media print {
  	padding: 0;
  }
}

html, body {
  font-family: "ff-tisa-sans-web-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
  height: 100%;
  width: 100%;
  color: $darkGrey;
}

.cf {
  zoom: 1;
  &:after, &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.ember-view {
	// height: 100%;
	width: 100%;
  &#ember289, &#ember325 {
    height: 100%;
  }
}

section.page {
	width: 100%;
}

@import 'pages/page';

@import 'pages/index';
@import 'pages/title';
@import 'pages/page-01';
@import 'pages/page-02';
@import 'pages/page-03';
@import 'pages/page-04';
@import 'pages/page-05';
@import 'pages/page-06';

@import 'helpers/print';