@import "compass/utilities/general/clearfix";

.bar-wrap {
	span.bar-title {
		font-size: 30px;
		text-transform: uppercase;
		margin-bottom: 44px;
		display: block;
		text-align: center;
		font-family: 'rprt-gotham', sans-serif;
		font-weight: 600;
	}
	span.bar-title-number {
		font-size: 144px;
		font-family: 'rprt-gotham', sans-serif;
		font-weight: 600;
		display: block;
		line-height: 105px;
		&.blue {
			color: $primary;
		}
		&.yellow {
			color: $secondary;
		}
	}
	span.bar-title-number-sub-head {
		font-size: 28px;
		font-family: 'rprt-gotham', sans-serif;
		font-weight: 600;
		display: block;
		margin-bottom: 65px;
		&.blue {
			color: $primary;
		}
		&.yellow {
			color: $secondary;
		}
	}
	.bar {
		height: 95px;
		border: 1px solid transparentize(#4e4e4e, 0.8);
		border-radius: 2px;
		background-color: #f0efee;
		.metric {
			width: 50%;
			height: 100%;
			float: left;
			position: relative;
			&.blue {
				background-color: $primary;
			}
			&.blue__shade-1 {
				background-color: shade($primary, 10);
			}
			&.blue__shade-2 {
				background-color: shade($primary, 20);
			}
			&.blue__shade-3 {
				background-color: shade($primary, 30);
			}
			&.yellow {
				background-color: $secondary;
			}
			.number {
				color: white;
				font-size: 36px;
				font-family: "rprt-gotham";
				font-weight: 700;
				display: block;
				height: 95px;
				line-height: 95px;
			}
			.text {
				display: block;
				font-family: "rprt-gotham";
				font-size: 18px;
				font-weight: normal;
				display: block;
				position: relative;
				bottom: -26px;
			}
			.metric-label {
				display: inline-block;
				white-space: nowrap;
				@include transform-origin(right, top);
				@include transform(rotate(-45deg) translateY(-50%));
				position: absolute;
				right: 50%;
				bottom: -25px;
			}
		}
	}
	.bar-text {
		width: 50%;
		display: block;
		float: left;
		margin-top: 19px;
		font-size: 24px;
	}
}