@import "compass/utilities/general/clearfix";

.bar-wrap {
	span.bar-title {
		font-size: 30px;
		text-transform: uppercase;
		margin-bottom: 44px;
		display: block;
		text-align: center;
	}
	.bar {
		height: 95px;
		border: 1px solid transparentize(#4e4e4e, 0.8);
		border-radius: 2px;
		background-color: #f0efee;
		.metric {
			width: 50%;
			height: 100%;
			float: left;
			position: relative;
			&.blue {
				background-color: $primary;
			}
			&.yellow {
				background-color: $secondary;
			}
			.number {
				color: white;
				font-size: 36px;
				font-family: "rprt-gotham";
				font-weight: 700;
				display: block;
				height: 95px;
				line-height: 95px;
			}
			.text {
				display: block;
				font-family: "rprt-gotham";
				font-size: 18px;
				font-weight: normal;
				display: block;
				position: relative;
				bottom: -26px;
			}
		}
	}
	.bar-text {
		width: 50%;
		display: block;
		float: left;
		margin-top: 19px;
		font-size: 24px;
	}
}