@font-face {
  font-family: 'rprt-gotham';
  src:  url('/assets/fonts/gotham/gotham-book.woff2') format('woff2'),
        url('/assets/fonts/gotham/gotham-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rprt-gotham';
  src:  url('/assets/fonts/gotham/gotham-bold.woff2') format('woff2'),
        url('/assets/fonts/gotham/gotham-bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'rprt-gotham';
  src:  url('/assets/fonts/gotham/gotham-medium.woff2') format('woff2'),
        url('/assets/fonts/gotham/gotham-medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'rprt-gotham';
  src:  url('/assets/fonts/gotham/gotham-black.woff2') format('woff2'),
        url('/assets/fonts/gotham/gotham-black.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}