<main id="page" class="page-1">
	<h2>Total Sessions</h2>
	<div class="wrap cf">
		<div class="col">
			<p class="big-number">
				221
			</p>
			<p class="text">
				sessions
			</p>
			<div class="bar">
				<div class="new-sessions metric blue" style="width: 22%;">
					<span class="number">22%</span>
					<span class="text">New Sessions</span>
				</div>
				<div class="return-sessions metric yellow" style="width: 78%;">
					<span class="number">78%</span>
					<span class="text">Return Sessions</span>
				</div>
			</div>
		</div><!-- col -->
		<div class="col">
			<h3 class="previous-month">Previous Month Comparison</h3>
			<strong class="previous-month-sessions">231 Sessions in September</strong>
			<aside class="graph">
				<div class="graph-section">
					<div class="graph-bar-wrap">
						<div class="graph-bar blue" style="height: 26%;">
							<span class="text">September</span>
							<span class="number">26%</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
					<div class="graph-bar-wrap">
						<div class="graph-bar blue" style="height: 22%;">
							<span class="text">October</span>
							<span class="number">22%</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
				</div>
				<div class="graph-section">
					<div class="graph-bar-wrap">
						<div class="graph-bar yellow" style="height: 74%;">
							<span class="text">September</span>
							<span class="number">74%</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
					<div class="graph-bar-wrap">
						<div class="graph-bar yellow" style="height: 78%;">
							<span class="text">October</span>
							<span class="number">78%</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
				</div>
			</aside>
		</div><!-- col -->
	</div>
</main>