<section id="page-03" class="page">
	<h2>Social Network Activity</h2>
	<div class="wrap cf">
		<div class="col">
			<aside class="bar-wrap social-activity-twitter">
				<span class="bar-title">
					Twitter
				</span>
				<span class="bar-title-number blue">
					99
				</span>
				<span class="bar-title-number-sub-head blue">
					Tweets
				</span>
				<div class="bar">
					<div class="metric blue__shade-3" style="width: 5%;">
						<span class="number">0</span>
						<span class="metric-label">
							12AM-7AM
						</span>
					</div>
					<div class="metric blue__shade-2" style="width: 5%;">
						<span class="number">0</span>
						<span class="metric-label">
							7AM-12PM
						</span>
					</div>
					<div class="metric blue__shade-1" style="width: 12%;">
						<span class="number">2</span>
						<span class="metric-label">
							12PM-5PM
						</span>
					</div>
					<div class="metric blue" style="width: 78%;">
						<span class="number">97</span>
						<span class="metric-label">
							5PM-12AM
						</span>
					</div>
					<div style="clear: both"></div>
				</div>
			</aside>
		</div><!-- col -->
		<div class="col">
			
		</div><!-- col -->
	</div>
</section>