<section id="page-02" class="page">
	<h2>Sessions by Device</h2>
	<div class="wrap cf">
		<div class="col">
			<div class="bar-wrap">
				<span class="bar-title">
					Mobile Sessions
				</span>
				<div class="bar">
					<div class="mobile-sessions metric blue" style="width: 45%;">
						<span class="number">45%</span>
					</div>
					<div style="clear: both"></div>
				</div>
				<span class="bar-text text-left">
					0
				</span>
				<span class="bar-text text-right">
					221
				</span>
			</div>
		</div><!-- col -->
		<div class="col">
			
		</div><!-- col -->
	</div>
</section>