<section id="page-07" class="page">
	<h2>This Month / Last Month</h2>
	<div class="wrap cf">
		<div class="col">
			<table>
				<thead>
					<tr>
						<th></th>
						<th>September</th>
						<th>October</th>
						<th>Increase / Decrease</th>
					</tr>
				</thead>
				<tbody>
					<tr class="blue">
						<td>Total Sessions</td>
						<td>231</td>
						<td>221</td>
						<td>-10</td>
					</tr>
					<tr>
						<td>Mobile</td>
						<td>157</td>
						<td>145</td>
						<td>-12</td>
					</tr>
					<tr>
						<td>Desktop</td>
						<td>74</td>
						<td>176</td>
						<td>102</td>
					</tr>
					<tr class="spacer">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="blue">
						<td>Social Activity</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Twitter</td>
						<td>95</td>
						<td>99</td>
						<td>4</td>
					</tr>
					<tr>
						<td>Facebook</td>
						<td>17</td>
						<td>11</td>
						<td>-6</td>
					</tr>
					<tr class="spacer">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="blue">
						<td>Referral</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Direct</td>
						<td>82</td>
						<td>62</td>
						<td>-20</td>
					</tr>
					<tr>
						<td>Facebook</td>
						<td>26</td>
						<td>10</td>
						<td>-16</td>
					</tr>
					<tr>
						<td>Twitter</td>
						<td>18</td>
						<td>0</td>
						<td>-18</td>
					</tr>
					<tr>
						<td>Other</td>
						<td>105</td>
						<td>149</td>
						<td>54</td>
					</tr>
				</tbody>
			</table>
		</div><!-- col -->
	</div><!-- wrap -->
</section>