<main id="page" class="page-2">
	<h2>Sessions by Device</h2>
	<div class="wrap cf">
		<div class="col">
			{{ember-chart type='Line' data=model.chartData width='400px' height='300px'}}
		</div><!-- col -->
		<div class="col">
			
		</div><!-- col -->
	</div>
</main>