<header class="page-header">
	<div class="left">
		<p><span>Monthly Website Analytics</span> | smplsc.com</p>
	</div>
	<div class="right">
		{{!-- <p>{{controllers.application.fullDateToParse}}</p> --}}
	</div>
</header>
{{yield}}