<section id="page-06" class="page">
	<h2>Top 10 Traffic Sources</h2>
	<div class="wrap cf">
		<div class="col">
			<div class="traffic">
				<div class="item">
					<span class="url">csuniv.edu / referral</span>
					<span class="count">32</span>
				</div><!-- item -->
				<div class="item">
					<span class="url">finaid.cofc.edu / referral</span>
					<span class="count">29</span>
				</div><!-- item -->
				<div class="item">
					<span class="url">semalt.semalt.com / referral</span>
					<span class="count">25</span>
				</div><!-- item -->
				<div class="item">
					<span class="url">dribbble.com / referral</span>
					<span class="count">18</span>
				</div><!-- item -->
				<div class="item">
					<span class="url">charlestonsouthern.edu / referral</span>
					<span class="count">6</span>
				</div><!-- item -->
				<div class="item">
					<span class="url">I.facebook.com / referral</span>
					<span class="count">5</span>
				</div><!-- item -->
				<div class="item">
					<span class="url">2947981.semalt.com / referral</span>
					<span class="count">4</span>
				</div><!-- item -->
				<div class="item">
					<span class="url">baptisthill.ccsdschools.com / referral</span>
					<span class="count">4</span>
				</div><!-- item -->
				<div class="item">
					<span class="url">burke.ccsdschools.com / referral</span>
					<span class="count">2</span>
				</div><!-- item -->
				<div class="item">
					<span class="url">facebook.com / referral</span>
					<span class="count">2</span>
				</div><!-- item -->
			</div><!-- traffic -->
		</div><!-- col -->
	</div><!-- wrap -->
</section>