<section id="page-02" class="page">
	<h2>Sessions by Device</h2>
	<div class="wrap cf">
		<div class="col">
			<aside class="bar-wrap mobile-sessions">
				<span class="bar-title">
					Mobile Sessions
				</span>
				<div class="bar">
					<div class="metric blue" style="width: 20%;">
						<span class="number">45%</span>
					</div>
					<div style="clear: both"></div>
				</div>
				<span class="bar-text text-left">
					0
				</span>
				<span class="bar-text text-right">
					221
				</span>
				<div style="clear: both"></div>
			</aside>
			<aside class="bar-wrap desktop-sessions">
				<span class="bar-title">
					Desktop Sessions
				</span>
				<div class="bar">
					<div class="metric yellow" style="width: 79%;">
						<span class="number">176</span>
					</div>
					<div style="clear: both"></div>
				</div>
				<span class="bar-text text-left">
					0
				</span>
				<span class="bar-text text-right">
					221
				</span>
				<div style="clear: both"></div>
			</aside>
		</div><!-- col -->
		<div class="col">
			<h3 class="previous-month">Previous Month Comparison</h3>
			<aside class="graph">
				<div class="graph-section">
					<div class="graph-bar-wrap">
						<div class="graph-bar blue" style="height: 17%;">
							<span class="text">September</span>
							<span class="number">74</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
					<div class="graph-bar-wrap">
						<div class="graph-bar blue" style="height: 10%;">
							<span class="text">October</span>
							<span class="number">45</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
				</div>
				<div class="graph-section">
					<div class="graph-bar-wrap">
						<div class="graph-bar yellow" style="height: 36%;">
							<span class="text">September</span>
							<span class="number">157</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
					<div class="graph-bar-wrap">
						<div class="graph-bar yellow" style="height: 40%;">
							<span class="text">October</span>
							<span class="number">176</span>
						</div><!-- graph-bar -->
					</div><!-- graph-bar-wrap -->
				</div>
			</aside>
		</div><!-- col -->
	</div>
</section>