<section id="page-05" class="page">
	<h2>Viewers by Age</h2>
	<div class="wrap cf">
		<div class="col">
			<aside class="bar-wrap 18-24-years">
				<span class="bar-title">
					18 - 24 Years of Age
				</span>
				<div class="bar">
					<div class="metric blue" style="width: 27.5%;">
						<span class="number">27.5%</span>
					</div>
					<div style="clear: both"></div>
				</div>
				<span class="bar-text text-left">
					0
				</span>
				<span class="bar-text text-right">
					100
				</span>
				<div style="clear: both"></div>
			</aside>
		</div><!-- col -->
		<div class="col">
			<aside class="bar-wrap 18-24-years">
				<span class="bar-title">
					35 - 44 Years of Age
				</span>
				<div class="bar">
					<div class="metric blue" style="width: 15.5%;">
						<span class="number">15.5%</span>
					</div>
					<div style="clear: both"></div>
				</div>
				<span class="bar-text text-left">
					0
				</span>
				<span class="bar-text text-right">
					100
				</span>
				<div style="clear: both"></div>
			</aside>
		</div><!-- col -->
		<div class="col">
			<aside class="bar-wrap 18-24-years">
				<span class="bar-title">
					25 - 34 Years of Age
				</span>
				<div class="bar">
					<div class="metric blue" style="width: 33.5%;">
						<span class="number">33.5%</span>
					</div>
					<div style="clear: both"></div>
				</div>
				<span class="bar-text text-left">
					0
				</span>
				<span class="bar-text text-right">
					100
				</span>
				<div style="clear: both"></div>
			</aside>
		</div><!-- col -->
		<div class="col">
			<aside class="bar-wrap 18-24-years">
				<span class="bar-title bold">
					Under 45 Years of Age
				</span>
				<div class="bar">
					<div class="metric yellow" style="width: 76.5%;">
						<span class="number">76.5%</span>
					</div>
					<div style="clear: both"></div>
				</div>
				<span class="bar-text text-left">
					0
				</span>
				<span class="bar-text text-right">
					100
				</span>
				<div style="clear: both"></div>
			</aside>
		</div><!-- col -->
	</div><!-- wrap -->
</section>