<main id="page" class="title">
	<div class="wrap">
		<div class="titles">
			<h1>Monthly Website Analytics</h1>
			<h3>October 2014</h3>
		</div>
		<img src="/assets/images/title-page-logo.png" alt="smpl" width="418">
	</div>
</main>